.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
	background-color: transparent !important;
	color: #e5e5e5 !important;
	text-align: center;
	font-size: 125% !important;
	border-color: white;
}
.css-a643pv-MuiStack-root{
	border-color: white!important;

}
.css-a643pv-MuiStack-root{
	border-color: white!important;

}
.css-11a8txn-MuiStack-root{
	border-color: white!important;

}
.css-kzf2d7-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
	.MuiOutlinedInput-notchedOutline {
	border-color: #e5e5e5 !important;
}
.css-1g7nc1s-MuiPickersLayout-root .MuiPickersLayout-toolbar {
	background-color: #185574 !important;
	color: #e5e5e5 !important;
}
.css-y0fr9s-MuiButtonBase-root-MuiTab-root {
	background-color: #185574 !important;
	color: #e5e5e5 !important;
}
.css-1b9e08i-MuiTypography-root-MuiPickersToolbarText-root {
	background-color: #185574 !important;
	color: #e5e5e5 !important;
}
.css-mvmxd9-MuiTypography-root-MuiPickersToolbarText-root {
	background-color: #185574 !important;
	color: #e5e5e5 !important;
}
.css-1e4tpwf-MuiTypography-root-MuiPickersToolbarText-root-MuiDateTimePickerToolbar-separator {
	background-color: #185574 !important;
	color: #e5e5e5 !important;
}
.css-1hbyad5-MuiTypography-root {
	background-color: #185574 !important;
	color: #e5e5e5 !important;
}
.css-13vtpvu-MuiTypography-root-MuiPickersToolbarText-root {
	background-color: #185574 !important;
	color: #e5e5e5 !important;
}
.css-1q04gal-MuiDateCalendar-root {
	background-color: #185574 !important;
	color: #e5e5e5 !important;
}
.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
	background-color: #185574 !important;
	color: #e5e5e5 !important;
}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root {
	background-color: #185574 !important;
	color: #e5e5e5 !important;
}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root:hover {
	color: rgb(33, 186, 19);
}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root:disabled {
	color: rgb(71, 68, 68) !important;
}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
	color: rgb(33, 186, 19) !important;
	font-size: 125%;
}
.css-1g7nc1s-MuiPickersLayout-root .MuiPickersLayout-actionBar {
	background-color: #185574 !important;
	color: #e5e5e5 !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
	color: #e5e5e5 !important;
}
.css-ku1d3k-MuiTimeClock-root {
	background-color: #185574 !important;
	color: #e5e5e5 !important;
}
.css-4f0ona-MuiClock-clock {
	background-color: rgb(17, 16, 16) !important;
	color: #e5e5e5 !important;
}
.css-1vooibu-MuiSvgIcon-root {
	color: #e5e5e5 !important;
}
.css-umzx0k-MuiClock-pin {
	background-color: #e5e5e5 !important;
}
.css-rdq5h4-MuiClockPointer-root {
	background-color: #e5e5e5 !important;
}
.css-eg3pzz-MuiClockPointer-thumb {
	background-color: #e5e5e5 !important;
	color: #e5e5e5 !important;
}
.css-d0vs79-MuiClockPointer-root {
	background-color: #e5e5e5 !important;
	color: #e5e5e5 !important;
}
.css-1ys9rbi-MuiClock-wrapper {
	background-color: #e5e5e5 !important;
}
.css-zddqwy-MuiClockNumber-root {
	color: #e5e5e5 !important;
}
.css-zddqwy-MuiClockNumber-root.Mui-disabled {
	color: rgb(68, 60, 60) !important;
}
.css-zddqwy-MuiClockNumber-root.Mui-selected {
	color: #185574 !important;
	background-color: #e5e5e5;
}
.css-53ccts-MuiClockNumber-root.Mui-disabled {
	color: rgb(68, 60, 60) !important;
}
.css-53ccts-MuiClockNumber-root {
	color: #e5e5e5 !important;
}
.css-53ccts-MuiClockNumber-root.Mui-selected {
	color: #185574 !important;
	background-color: #e5e5e5;
}
.css-rdq5h4-MuiClockPointer-root {
	color: #185574 !important;
	background-color: #e5e5e5;
}
