.stickytop {
	position: sticky;
	top: 0;
	z-index: 1000;
}
.btnlogin:hover {
	background-color: #185574 !important;
	color: white;
	border-color: white !important;
}
.btnreg:hover {
	background-color: transparent !important;
	border-color: #185574 !important;
	color: #185574 !important;
}
.stickytop .nav-link {
	color: red !important; /* Cambia el color de los enlaces cuando el navbar está pegajoso */
}
/* bg-gradient-to-tl from-[#1e1e1e] to-[#4077ad] */
.error-message {
	color: rgb(237, 8, 8) !important;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	padding-top: 5px;
	margin-bottom: 5px !important;
}
.link:hover {
	opacity: 0.8;
	color: #25b0f0 !important;
}
.btngoogle:hover {
	background-color: white;
	color: #185574 !important;
}
.btnAdmin:hover {
	background-color: #185574 !important;
	color: white !important;
	border-color: white !important;
}
.btnLogout:hover {
	background-color: white !important;
	color: #0d6efd !important;
	border-color: #0d6efd !important;
}
.textshadow {
	text-shadow: 3px 5px 6px rgba(0, 0, 0, 0.6) !important;
}
.backgroundimage {
	background-image: linear-gradient(
			100deg,
			rgba(255, 255, 240, 0.02),
			rgba(0, 0, 0, 1)
		),
		url(/imagenfondo.jpg);
	background-size: cover;
	background-position: center;
}
.description {
	top: 0;
	left: 0;
	padding: 30px 30px;
	opacity: 0;
	transition: all 0.5s ease 0s;
}
.description:hover {
	opacity: 0.7;
}
.swal2-confirm {
	background-color: red !important;
	border-width: 2px;
	border-radius: 12px !important;
	font-weight: 600;
	box-shadow: 7px 5px 10px 0px rgba(0, 0, 0, 0.62) !important;
}
.swal2-cancel {
	background-color: #0d6efd !important;
	border-width: 2px;
	border-radius: 12px !important;
	font-weight: 600;
	box-shadow: 7px 5px 10px 0px rgba(0, 0, 0, 0.62) !important;
}

.about {
	background-image: linear-gradient(
			100deg,
			rgba(255, 255, 240, 0.02),
			rgba(0, 0, 0, 1)
		),
		url(/imagenfondo.jpg);
	background-size: cover;
	object-fit: cover;
	background-position: center;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#navbar.sticky-top {
	transition: background-color 0.3s ease-in-out;
}

#navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.modal-header {
	background-color: #e5e5e5;
}
.modal-body {
	background-color: #e5e5e5;
}
