.imagennav {
	position: relative;
	background-image: linear-gradient(
			60deg,
			rgba(255, 255, 240, 0.02) 25.5%,
			rgba(0, 0, 0, 1) 95%
		),
		url(/01.jpg);
	background-size: cover;
	object-fit: cover;
	background-position: center;
}
.btnhome:hover{
	background-color: white!important;
	border-color:#25b0f0!important ;
	color:#25b0f0!important
}
/* Section 2 LOGO */
.imagenlogosec2 {
	position: relative;
	background-image: url(/LOGOHOME.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	object-fit: contain;
	background-position: center;
}
.textshadow {
	text-shadow: 5px 3px 2px rgba(0, 0, 0, 0.54);
}

/* Section 3 Carrousel */
.imagencar1 {
	height: 450px;
	margin-top: 10px;
	background-image: linear-gradient(
			60deg,
			rgba(255, 255, 240, 0.02) 0.5%,
			rgba(0, 0, 0, 1) 85%
		),
		url(/vista-superior-elementos-orientacion-profesional-jueces.jpg);
	filter: brightness(80%);
	background-size: cover;
	background-position: center;
	object-fit: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.carousel-control-prev {
	width: 5vw;
}
.carousel-control-next {
	width: 5vw;
}
.imagencar2 {
	position: relative;
	color: rgb(207, 207, 207);
	height: 450px;
	margin-top: 10px;
	filter: brightness(75%);
	background-image: linear-gradient(
			60deg,
			rgba(255, 255, 240, 0.02) 0.5%,
			rgba(0, 0, 0, 1) 85%
		),
		url('/descarga (1).jpeg');
	background-size: cover;
	background-position: center;
	object-fit: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.imagencar3 {
	position: relative;
	color: rgb(207, 207, 207) !important;
	height: 450px;
	margin-top: 10px;
	filter: brightness(75%);
	background-image: linear-gradient(
			60deg,
			rgba(255, 255, 240, 0.02) 0.5%,
			rgba(0, 0, 0, 1) 85%
		),
		url('/descarga (2).jpeg');
	background-size: cover;
	background-position: center;
	object-fit: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* section 4 LOGO */
.imagenlogosec4 {
	position: relative;
	background-color: white !important;
	background-image: url(/LOGOHOME.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	object-fit: fill;
	background-position: center;

}

/* Section 5 Contacto */
.imagensection4 {
	position: relative;
	background-image: linear-gradient(
			120deg,
			rgba(255, 255, 240, 0.02) 0.5%,
			rgba(0, 0, 0, 1) 200%
		),
		url(/414635-PD6SLS-602-1a.jpg);
	background-size: cover;
	background-position: center;
	object-fit: cover;
	background-position: center;
}
.titlecontac {
	position: absolute;
	top: 20px;
}
.conttel {
	position: absolute;
	top: 90px;
}
.contmail {
	position: absolute;
	top: 170px;
}
.contdir {
	position: absolute;
	top: 240px;
}

.contbtn {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	bottom: 20px;
	left: 15px;
	right: 15px;
}
.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 50px;
	right: 30px;
	box-shadow: 2px 2px 3px #999;
	z-index: 100;
}

@media (min-width: 495px) {
	.parrafo1 {
		font-size: 32px;
	}
	.parrafo2 {
		font-size: 42px;
		text-align: center;
		padding-left: 0px;
	}
	.botonturno {
		width: 50%;
	}
	.textosec2 {
		font-size: 42px;
	}
	.titlecar {
		font-size: 42px;
	}
	.listacar {
		font-size: 18px;
	}
	.titlesect4 {
		font-size: 36px;
		text-align: center;
	}
	.textsec4 {
		font-size: 16px;
	}
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
	.titlecontac {
		font-size: 48px;
	}
	.titlesect4 {
		font-size: 48px;
		text-align: center;
	}
	.textosec2 {
		font-size: 48px;
	}
}
@media (min-width: 992px) {
	.textsec4 {
		font-size: 24px;
	}
}

@media (min-width: 1200px) {
	.titlecar {
		font-size: 52px;
	}
	.titlecontac {
		font-size: 52px;
	}
}
@media (min-width: 1400px) {
	.parrafo1 {
		font-size: 40px;
	}
	.parrafo2 {
		font-size: 48px;
	}
}
